[2021-03-15 21:25] cubalibre opened #1 "test of A02 - AUSTEN CCT.ifc"
I downloaded to test the ifc  Sam Romeo file . I tried to upload it locally. If I load it from the js folder it works. If I load it from the jsm folder, nothing is seen. What should I do to see the js console from Chrome? .... I always right click on browser page and then inspect ... but in this case the right click doesn't work

[2021-03-16 08:12] agviegas commented on #1
Hello there! You can open the Chrome Developer Tools with F12.
I have downloaded the library using the zip download and I am able to load IFC files from both versions (js and jsm). Are you using the last version of the library? Is that problem happening only in that IFC or in all IFC files?

[2021-03-16 10:14] cubalibre commented on #1
Hi Antonio,
I use the **last version of the library** and I have this error in jsm and **only in that IFC** file.
I report the javascript console error:
bundle.js:569 wasm streaming compile failed: TypeError: Failed to execute 'compile' on 'WebAssembly': Incorrect response MIME type. Expected 'application/wasm'.
(anonymous) @ bundle.js:569
bundle.js:570 falling back to ArrayBuffer instantiation
(a

[2021-03-16 16:45] cubalibre opened #2 "Code comments"
Hello there! This library is opensource. Ok. Even if a well-written code does not need comments, it would be very useful for me to find comments. On the contrary, these comments seem to be very few. I would like to understand and also learn, through an example like this, the best js programming techniques. For this I ask you if it is possible to add other comments to the code in the open source sp

[2021-03-16 18:59] agviegas commented on #1
I see. Can you please send me a link to that file? Right now I don't know what file you are referring to. Thanks!

[2021-03-16 19:11] cubalibre commented on #1
www.solserver.it/casak/A02%20-%20AUSTEN%20CCT.ifc

[2021-03-17 20:20] agviegas commented on #1
It is strange, as I am able to load the model. I am working with the last version. What version of web-ifc are you using?
![image](https://user-images.githubusercontent.com/56475338/111532379-e2b6a780-8765-11eb-9308-703313dbf35e.png)

[2021-03-18 10:33] cubalibre commented on #1
i downloaded the latest version and now it works. Thank you.

[2021-03-18 10:45] cubalibre opened #3 "Test ifc file: color noise when rotating the object"
https://drive.google.com/file/d/1cjq3dDVDpq17PkMvO7vtp4k9ZVW-qGVA/view?usp=sharing

[2021-03-18 12:05] #1 closed

[2021-04-18 10:00] agviegas commented on #2
We are currently writing documentation for the library; this should help users understand how it works. However:

1. To use the library you don't need to understand how it works internally. This library is the official Three.js IFC Loader, and can be used like any other Loader. You can look at the official [Three.js example](https://threejs.org/examples/#webgl_loader_ifc) to see how it works, as w

[2021-04-18 10:00] #2 closed

[2021-04-18 10:02] agviegas commented on #3
Without a description, we cannot help you on this issue. It seems to me that when you say "colour noise" you are referring to Z fighting by overlapping surfaces. This is not a problem of the library, but that the IFC model has overlapping surfaces.

[2021-04-21 01:13] IDONKN opened #4 "Can this be run in a vue project"
ERROR  Failed to compile with 1 error                                                                        9:01:25 AM

 error  in ./src/views/3Dengine/web-ifc-api.js

Module parse failed: Unexpected token (660:23)
File was processed with these loaders:
 * ./node_modules/_cache-loader@2.0.1@cache-loader/dist/cjs.js
 * ./node_modules/_babel-loader@8.2.2@babel-loader/lib/index.js
 * ./node_modules/

[2021-05-02 09:32] antoniohof opened #5 "some models are not centralized."
Hello

After testing with some models, I've notest some of them load very far away from 0,0.

I wonder if there is a way to change the coordinate system to make them centralized?

For now, I will try to get world position of every object and bring all of them closer to 0

Thank you,

Antonio

[2021-05-02 09:44] antoniohof commented on #5
I managed to do using:
      new window.THREE.Box3().setFromObject(obj).getCenter(obj.position).multiplyScalar(-1)

[2021-05-02 09:44] #5 closed

[2021-05-20 16:36] antoniohof opened #6 "indexed buffer geometry"
Hi there,

I saw you made the viewer more optimized by merging the model into a single geometry. really nice!

I have a problem now, I wonder how to enable/disable single parts of the model with this approach.

I saw its possible if the buffer geometry is indexed and then you can pass a drawRange to the it, so it draws only what you want.

Do any of you maybe have a direction I could pursue, or ma

[2021-05-28 07:13] quarto-zz opened #7 "Running IFC.js in a Java WebEngine browser"
I have been trying to run IFC.js in a Java WebEngine browser.  I have compressed the IFC.js demo folder into a WAR file and successfully started up a Jetty local sever and IFC.js runs happily on localhost:8080 in a regular browser.  In the Java browser the index page displays and I can select a model but no model or 3D space appears.   Do any of you have any ideas on what additional HTML or browse

[2021-05-29 12:01] tomvandig commented on #7
You can try to catch some logging output from the WebEngine, which might tell you what's going wrong. I suspect either some file path is not found, or WebAssembly is simply not supported. This page has more info: https://stackoverflow.com/a/49077436/6207777

However, I have tried googling and can't find if the Java WebEngine does or does not support WebAssembly. I think it should, since it is base

[2021-05-29 14:42] tomvandig commented on #7
Looks like WebGL is not supported at all even though its running on WebKit. So IFC.js won't work inside the WebEngine unfortunately.  Kudo's to IFC.js discord for finding this out.

You could try to embed chrome into java, with https://github.com/chromiumembedded/java-cef , or use the native browser directly, but I think both options are complicated.

[2021-05-29 14:42] #7 closed

[2021-06-02 22:22] agviegas commented on #6
Hey, sorry, I just saw this. With the last changes you should be able to pick and hide parts of the model, as well as getting properties for objects! If you specifically want to hide objects that are far away, we could do something with shaders. What do you mean by "manipulation"?

Let us know if you have any questions or suggestions regarding this. We will keep improving this in future versions.

[2021-06-02 22:24] agviegas commented on #4
Hey, we have managed to run this on React and Angular, so it should be compatible with Vue as well. We have no previous experience with Vue, so we can't help you with the specific implementation for now. The only thing you have to make sure is that you are serving the .wasm file in the root of your application, or specifying its relative location using `ifcLoader.setWasmPath()`.

[2021-06-02 22:24] #3 closed

[2021-06-03 10:17] #6 closed

[2021-06-04 09:46] agviegas opened #10 "Separate getItemProperties in native and indirect (psets)"
Getting geometry properties is a heavy process, and something that users will rarely want. Separating native properties and psets will allow users to get the only the psets recursively, thus improving the performance of getting properties.

[2021-06-04 09:52] agviegas opened #11 "Some 3D objects are not highlighted"
Some 3D objects of ifc products are not highlighted when selecting them. This may be a problem when constructing the bufferGeometry (these vertices might not be sorted correctly).
![image](https://user-images.githubusercontent.com/56475338/120783226-19ad8580-c52b-11eb-9d1b-acc54b48342a.png)

[2021-06-04 10:03] agviegas opened #12 "Extract IFC Loader logic in multiple files"
The IfcLoader file is getting too big. Extracting it into smaller, more maintainable files is necessary. This also requires configuring rollup to bundle the final file.

[2021-06-04 10:16] harrycollin opened #13 "Allow setItemVisibility to accept only expressId & modelId parameters"
Setting element visibility could be improved by not requiring to pass geometry as an argument. Instead only passing expressId & modelId. This makes it easier to use when with UI integrations.

[2021-06-06 22:57] #11 closed

[2021-06-06 22:58] agviegas opened #15 "Convert the repository to TypeScript for better maintainability"

[2021-06-07 22:37] #12 closed

[2021-06-07 22:37] #15 closed

[2021-06-07 22:37] #10 closed

[2021-06-07 22:39] agviegas opened #16 "Make npm repository for easier testing"
I'm aware that in the future almost everyone will either use web-ifc-viewer or Three.js directly, but right now having it in npm would be convenient to test the last changes in web-ifc-viewer directly

[2021-06-07 22:40] agviegas opened #17 "Build basic system for handling multiple models (multiple ModelIDs)"

[2021-06-07 22:42] agviegas opened #18 "Clean up bloated methods"
Some methods are too big and unmaintainable. Extract them in smaller methods. Also, merge `modelID`, `mapFaceindexID` and `mapIDFaceIndex` into a single `state` object that represents the data of a single model.

[2021-06-08 09:42] harrycollin opened #19 "Some child elements are missing from getSpatialStructure()"
Taking a Curtain Wall as an example, it should have some glazing (Plate) as child elements.

See BIMVision screenshot:
![](https://cdn.discordapp.com/attachments/844896119098966027/851756598523199488/unknown.png)

We're not getting the child elements array from the getSpatialStructure()
![](https://cdn.discordapp.com/attachments/844896119098966027/851756699684962354/unknown.png)

Model has been up

[2021-06-08 16:24] #19 closed

[2021-06-08 23:35] eng-luciano-julien opened #20 "Missing esformatter as devDependency in order to be able to build dist"
Missing esformatter as devDependency in package.json in order to be able to build dist folder.

[2021-06-10 11:27] bidinzky opened #21 "memory access out of bound"
Hello as mention in the title with the file in
[Duplex Apartment.zip](https://github.com/agviegas/web-ifc-three/files/6630916/Duplex.Apartment.zip) causes a memory out of bounds exception.
`
Uncaught RuntimeError: memory access out of bounds
    at http://localhost:5000/web-ifc.wasm:wasm-function[930]:0x4f3a4
    at http://localhost:5000/web-ifc.wasm:wasm-function[931]:0x4ff87
    at Object.GetLin

[2021-06-12 08:39] CrossStyle commented on #21
Hello,

I had a similar problem when I tried to open an [IFC file ](https://github.com/CrossStyle/BIM-Viewer/blob/8eb69a0f2c928b251404ffa1d502942214c8e2db/local_app/9-6TH%20FLOOR.ifc) that was part of a model.

[code]

[2021-06-14 19:13] xawill opened #22 "Position and quaternion of IFC model do not reflect matrix values"
Hi!

And thank you for this awesome library.

I just have an issue when loading a model. When I traverse the children Meshes, the position and the quaternion are always all zeros, even though the position and the rotation of the object is not zero in the Matrix of the Mesh. Is it intended ? If yes, can you explain me why ? If not, I guess a fix is just doing the following before returning the load

[2021-06-15 16:05] eng-luciano-julien opened #23 "Substituition for setModelDisplay()"
Hi,
Great project!
I am looking for guidance about the change in the library of the functions setModelDisplay() which was deleted.
I was using setModelDisplay to configure transparency of the whole model and setItemsDisplay to color some elements to highlight.
Its seems the function createSubset() substitutes setItemsDisplay(), is there a way to setModelDisplay() or is it planned to implement simi

[2021-06-24 08:04] agviegas commented on #20
Hey, that's strange. I'm able to clone and build the dist without esformatter installed 🤔 Anyway, if in you end it's a requirement, feel free to open a PR and add it!

[2021-06-24 08:12] agviegas commented on #21
Hey @bidinzky I am able to open and select part of the roofs in the [last version](https://agviegas.github.io/web-ifc-three/example/). Can you check it? @CrossStyle I'll take a look at this!

[2021-06-24 08:15] agviegas commented on #22
Hey @xawill what do you mean by "children meshes"? In theory, each model should only generate one mesh. We work with merged geometries to be able to support bigger models, and the intention is to allow users to traverse this with the API we are building on top of the `ifcLoader` object.

[2021-06-24 08:21] agviegas commented on #23
Hey @eng-luciano-julien sorry, we had to change the API, but this version should remain stable. Indeed, createSubset() is the way to go now. Currently, `ifcLoader` creates a single geometry of the entire IFC model, but saves the individual geometries in memory before merge. These individual geometries can be used to create subsets of the model (e.g. the entire first floor geometry). This is becaus

[2021-06-24 08:47] agviegas commented on #21
@CrossStyle it looks like this happens in web-ifc. Can you bring this issue there? Thanks!

[2021-06-24 08:47] #21 closed

[2021-06-24 08:59] xawill commented on #22
Thank you for checking the issue @agviegas. What you describe sounds to me like a perfect plan. Unfortunately, this is not the behaviour I experienced until now. You can replicate it very easily with the three.js editor: load an ifc file (for instance [this one](http://openifcmodel.cs.auckland.ac.nz/_models/20210125Prova.ifc)) and check the objects hierarchy on the right pane. There are hundreds o

[2021-06-24 09:03] agviegas commented on #22
You are totally right, and this offset between Three.js and IFC.js versions is something we'll have to live with for some time. We release new things every day / week, whereas Three.js has its own updating pace. What I'd suggest you if you want to work with the latest version is to import web-ifc-three (which is exactly the IFCLoader) and use it like the IFCLoader!

[2021-06-24 09:06] vegarringdal commented on #20
@agviegas

Maybe you have it installed globally ?
Should be added to devDep..

[2021-06-24 09:10] xawill commented on #22
Okey, thank you for the suggestion. I guess we can then close the issue.

[2021-06-24 09:10] #22 closed

[2021-06-24 10:24] agviegas commented on #20
Done!

[2021-06-24 10:24] #20 closed

[2021-06-24 10:26] #23 closed

[2021-06-24 10:26] #18 closed

[2021-06-24 10:26] #17 closed

[2021-06-24 10:26] #16 closed

[2021-06-24 10:27] #13 closed

[2021-06-24 12:54] eng-luciano-julien commented on #23
@agviegas thank you! I managed to do it accessing the materials.

[2021-06-27 18:05] agviegas opened #24 "getSpatialStructure is inefficient"
The current implementation of `getSpatialStructure` is very generic: it gets the children of the project, then the children of the site, etc. Instead of doing that, it would be better to get all the `IfcRelAggregates` and all the `IfcRelContainedInSpatialStructure` and create the spatial tree in one single iteration.

[2021-07-03 07:56] delorie opened #25 "add basic unit tests for current available files"
In "IFC.js" discord channel we discussed using "jest" as a testing framework.

[2021-07-04 16:34] #24 closed

[2021-07-06 17:44] delorie commented on #25
the PR #27

[2021-07-10 08:36] #25 closed

[2021-07-21 14:08] antoniohof commented on #13
where did this method go?
I need to set item visibility passing only expressID.

Also need to get face indexes passing only expressID, do you know which function should I use now?

Thanks

[2021-07-21 14:14] agviegas commented on #13
You can create geometric subsets (ergo changing the appearance of items) with [this](https://github.com/IFCjs/web-ifc-three/blob/daa1d992a12139dc3cd6f055920f8c54a2921638/src/IFC/Components/IFCManager.ts#L180). Documentation is on the way; in the meantime, you can look how we do it in the [example](https://github.com/IFCjs/web-ifc-three/blob/daa1d992a12139dc3cd6f055920f8c54a2921638/example/web-ifc-

[2021-07-22 15:06] jparish3 commented on #4
I am curious to know if the .wasm file placement resolved this Vue integration issue before attempting to run on Vue

[2021-07-22 15:09] agviegas commented on #4
There are multiple users in the Discord who managed to solve this. According to @phili3000, the solution is:

[code]

This should solve the issue. Otherwise, let us know!

[2021-07-23 13:53] pablo-mayrgundter opened #28 "getSpatialStructure error"
Adding this code to https://github.com/IFCjs/examples/blob/main/simple-react/src/App.js#L43
[code]
(here for ref: https://github.com/pablo-mayrgundter/examples/commit/da6eff85855d1663c40ebe37d457d86d849cdc59)

Causes this error and no useable IFC elements.
[code]

Also tried with web-ifc-viewer 1.0.20, same result.

[2021-07-23 13:54] pablo-mayrgundter commented on #28
Discussion here:
https://discord.com/channels/799990228336115742/800000126998675457/868125696248119326

Using simple-rebar.ifc
https://github.com/IFCjs/test-ifc-files/blob/main/Structures/simple%20rebar.ifc

[2021-07-23 17:14] antoniohof commented on #13
thank you very much @agviegas :)

[2021-07-26 11:39] pablo-mayrgundter commented on #28
I wasn't passing the required modelID param!  Just reading the new API docs and noticed.  No longer fails for me.

Still probably a good idea to do arg checking and throw an error early.. the current stack trace is too obscure/deep for this to be obvious.

[2021-07-27 09:07] KiWiGiW opened #29 "Translating/Rotating/Scaling the IFC causes the element picked (material) to appear in the original position"
![image](https://user-images.githubusercontent.com/30846915/127120951-c326ca12-69db-45ee-a7f1-7dd67327565e.png)

[2021-07-27 17:08] favreau84 commented on #29
I went through the same issue. After loading the model, I start by centering the geometry of the model with a camera targeting 0,0,0.
`const mesh = ifcModel.mesh;`
  `mesh.geometry.center();`
But doing so, the selected elements are kept in their original position (following the picking tutorial).

<img width="459" alt="Capture d’écran 2021-07-27 à 19 02 21" src="https://user-images.githubusercon

[2021-07-27 18:35] favreau84 opened #30 "Problem when rendering IfcBuildingElementProxy which are rectangle extruded shapes"
## Note
Initially https://github.com/tomvandig/web-ifc/issues/69

## Context

In this construction project, one company (company A) is managing all the openings changes from one Revit digital mockup. Every time a change occurs, the company A shares one IFC files with all the up-to-date openings. Consulting companies, like structural engineering consultants, need to update the execution blueprints

[2021-07-27 19:08] tomvandig commented on #30
Short outline of the problem: IFC has enough precision in its serialized form to represent rather big numbers (I guess doubles), combined with allowing composition of transformations, which makes it possible to accurately represent quite large distances. When reading in the IFC, we convert it to (less accurate) floating point, for two reasons: it uses half the memory, and your GPU can't handle dou

[2021-07-27 19:48] vegarringdal commented on #30
Maybe web-ifc could give us how much it moves it when using COORDINATE_TO_ORIGIN.
So we can adjust for it when loading next file ?

[2021-07-27 22:27] favreau84 commented on #30
@tomvandig , great, it was exactly that. The ifcSite was indeed far far away from the origin of the WorldCoordinateSystem.

<img width="511" alt="Capture d’écran 2021-07-27 à 23 48 50" src="https://user-images.githubusercontent.com/18169247/127232494-94ba5602-de94-4fa3-ae82-fdd63af0ef8c.png">

I found an article which is describing this discrepancy problem : [here](https://thinkmoult.com/ifc-coo

[2021-07-28 11:06] tomvandig commented on #30
@favreau84 In terms of side effects: the hierarchy of objects is separate from their placement, so the modification you did should be correct. However, obviously I would like to solve the problem without modifying the IFC 😄

I will look at a way to easily do what @vegarringdal suggests, there's already an open issue in web-ifc about this, and it sounds like a very good idea.

About the inverted tr

[2021-07-28 11:26] favreau84 commented on #30
@tomvandig , great ! Is the COORDINATE_TO_ORIGIN implementation intended to be called from web-ifc-three at some point ?

[2021-07-29 17:12] chris-qs opened #31 "IFCGRID in IfcElements"
I tried to get the info of model item using getSpacialStructure. But it returns following error.

IFCModel.ts:54 Uncaught TypeError: Cannot read property 'toString' of undefined
    at PropertyManager.newNode (IFCModel.ts:54)
    at IFCModel.ts:35
    at Array.map (<anonymous>)
    at PropertyManager.getChildren (IFCModel.ts:17)
    at PropertyManager.getSpatialNode (TypeManager.ts:31)
    at IFCM

[2021-07-29 17:13] agviegas commented on #31
I'll add it! Thanks for reporting.

[2021-08-02 02:13] CrossStyle opened #32 "Tutorial update request"
Hello!

As I asked before in the discord, I hope you can update the documentation with tutorials on how to extract geometric information (e.g. position, width, length and height) and semantic information (e.g. material and storey).

I would be very grateful for this!

[2021-08-03 16:36] agviegas commented on #31
Solved!

[2021-08-03 16:36] #31 closed

[2021-08-03 16:37] agviegas commented on #29
Solved! Try passing the IfcModel mesh in the `scene` parameter when creating a new subset and the subset will be a child of that mesh (thus reflecting the transformations you apply on it).

[2021-08-03 16:37] #29 closed

[2021-08-03 16:38] agviegas commented on #28
We'll add more comprehensible error messages this days. For now, I'm closing this issue, as it was not related to getSpatialStructure!

[2021-08-03 16:38] #28 closed

[2021-08-04 13:55] tomvandig commented on #30
Please see https://github.com/tomvandig/web-ifc/blob/main/examples/usage/src/coordination.ts for an example how you can retrieve the coordinated position.

[2021-08-04 17:09] favreau84 commented on #30
@tomvandig , great ! Have you scheduled to implement it for the web-ifc-three lib ?

[2021-08-18 11:56] harrycollin opened #33 "Make three a peer dependency"
Make three a peer dependency to avoid "multiple instances of three being imported" warnings.

[2021-08-18 17:30] #33 closed

[2021-08-26 21:59] SpiderProjectDeveloper opened #40 "Can not read property index of undefined"
Hello! When loading a model (http://openifcmodel.cs.auckland.ac.nz/_models/23111022_IFCR2_Buildings_1.ifc), I received an error in developer's console window:
![error-message](https://user-images.githubusercontent.com/79970639/131041242-6f624878-725d-422f-bcc6-6c2d3b3d3637.png)
.

[2021-08-28 10:14] SpiderProjectDeveloper opened #41 "Unexpected style/mesh type"

[2021-08-29 18:34] agviegas commented on #30
Sorry, we forgot to mention it here with all the fuss of this month 🙂 It's already solved in the current version. You just need to use the following code, and the model should display in the origin, thus solving the nummerical stability issue:

[code]

[2021-08-29 18:34] #30 closed

[2021-08-31 09:14] #41 closed

[2021-09-13 10:25] andreacarpibomber opened #42 "Does not load IFC models while using OCULUS QUEST 2"
**Describe the bug**

Does not load IFC models while using OCULUS QUEST 2 (I could try only with this device)

**To Reproduce**
Run the threejs example of ifc loader from OCULUS QUEST 2.
S

**Screenshots**

If applicable, add screenshots to help explain your problem (drag and drop the image).

**Platform:**

 - Device: OCULUS QUEST 2
 - Three.js version: current

[2021-09-13 10:30] KiWiGiW opened #43 "Using subsets to translate/rotate/scale ifc elements meshes individually"
![viewer](https://user-images.githubusercontent.com/30846915/133068580-4aeaaaa4-aff2-4bca-89da-3fac8c1f0e18.png)
After implementing @agviegas sugestion -" If you want to allow the user to select objects and edit them, you can create the subsets of the objects the user want to modify lazily. This means that when the user clicks on a wall, you hide the wall using the visibility functions of the API,

[2021-09-15 16:29] agviegas opened #44 "Anonymous error"
[Link](https://drive.google.com/file/d/19yOA71nomOdZQ6rZx66VRriGSqFPU05d/view?usp=sharing).

[2021-09-19 00:59] agviegas commented on #32
[Here](https://ifcjs.github.io/info/docs/Guide/web-ifc-three/Tutorials/Properties) you have it!

[2021-09-19 01:02] agviegas commented on #32
Just for clarification:
- geometric information should be found as QuantitySets,
- material information can be found using [getMaterialsProperties()](https://ifcjs.github.io/info/docs/Guide/web-ifc-three/api#getmaterialsproperties).
- Due to the structure of IFC, for the storey right now you have to get the [spatial tree](https://ifcjs.github.io/info/docs/Guide/web-ifc-three/api#getspatialstructur

[2021-09-19 02:47] CrossStyle commented on #32
@agviegas Wonderful work and thanks for your reply! However, I got the error when using the function getMaterialsProperties().
[code]
The code I use is shown below.
[code]

[2021-09-19 09:49] agviegas commented on #32
Have you tried updating to the last version?

[2021-09-19 10:43] CrossStyle commented on #32
@agviegas It worked! Many thanks.

[2021-09-19 10:44] #32 closed

[2021-09-20 07:37] favreau84 opened #45 "Loading IfcOpening (and IfcSpace) geometry"
Hi !
I'd like to select some ifcOpening elements in a 3D model.
At the moment, I can access these elements' properties thanks to the `getItemProperties` method.
However, I can't access there geometries, for example using the subsets related methods.

Managing openings elements is a tricky part in a construction project. That would be great if the ifc.js library could be used to manage this use cas

[2021-09-20 09:44] hellok-coder opened #46 "Highlighting IfcSpace."
Hi !
Can you highlight IfcSpace? If yes, is there any way?
I got all the expressIDs of IfcSpace in the working model.

[2021-09-20 14:08] Vladres opened #47 "IFC export"
I need to export generated Mesh from threejs to IFC file format. How i can do that?

[2021-09-20 14:10] Vladres commented on #47
this.wasmModule => undefined

ExportFileAsIFC(modelID) {
    console.log(this.wasmModule)
    this.wasmModule && this.wasmModule.ExportFileAsIFC(modelID);
    let result = this.fs.readFile("/export.ifc");
    this.wasmModule["FS_unlink"]("/export.ifc");
    return result;
  }

[2021-09-20 14:12] Vladres commented on #40
Did you resolve it?

[2021-09-20 14:18] agviegas commented on #40
Hey, sorry, I went on vacation and missed this. I'll take a look these days!

[2021-09-20 14:22] Vladres commented on #40
Can you help with export?
I generated mesh by threejs and i need to export in IFC format. Do you know, mb, can i do that?

[2021-09-20 14:37] agviegas commented on #40
@Vladres sure. In the future, please try to keep the conversation of each issue inside that thread.

[2021-09-20 14:39] agviegas commented on #47
Hey, right now the API for exporting is very raw. This means that exporting geometry is not automated at all, and requires a deep understanding of IFC. The plan is to develop that part of the API as soon as we can, although we are not there yet. The only solution I can come up with right now is using other libraries like IfcOpenShell or XBim and translate the geometry you have created!

[2021-09-20 14:58] Vladres commented on #47
Thanks)

[2021-09-20 14:58] #47 closed

[2021-09-23 17:10] agviegas commented on #46
On it! Sorry, it's been a busy week. Will try to get my hands on this tomorrow!

[2021-09-24 07:47] TiberioG opened #48 "Compilation errrors and better readme to"
hello everyone, I am starting contributing to the library
I just got lot of TS issues when compiling it and errors with rollup imports.
this after running `npm install` on both dirs and `npm run build` on the root.
Do we have a stable branch to start with?
Can I contribute fixing the TS errors ?

Info:
Node.js v15.12.0
MacOS

[2021-09-24 08:14] agviegas commented on #48
Hi, I suspect your errors are because you are trying to use `npm` rather than `yarn`, which is what we use in the project!

[2021-09-24 09:08] TiberioG commented on #48
I am running yarn as well
compiled with TS 4.4.3 and had to fix this this

`[!] (plugin rpt2) Error: /Users/tiberio/Dev/web-ifc-three/web-ifc-three/src/IFCLoader.ts(36,33): semantic error TS2345: Argument of type 'unknown' is not assignable to parameter of type 'ErrorEvent'.
`
then after just ignoring it compiled but building I get this when doing `yarn build` on top level
`[!] Error: 'IFCManager'

[2021-09-24 09:21] agviegas commented on #48
Fixed it, try it now. This is super strange, I haven't touched that file in more than a month and never encountered that problem. Anyway, right now it should work right away with `yarn install` and `yarn build` (in the root of the repo).

[2021-09-26 15:21] josesoutoleon opened #49 "Implement web-ifc-three interface in web-ifc"
In order to use web-ifc when graphical interfase is not requerid it would be useful to implement the same interface that web-ifc-three has.
Of course just an interfase subset, all fumcrions related to graphical interfase has no meaning.

[2021-09-27 17:58] ngorlani opened #50 "geometrical problems on rendering an IFC file"
Hi! I have a geometrical problems on rendering an IFC file.
The geometry in my model are rendered differently in Revit.
All window geometries are malformed:
IMG:
![window_malformed](https://user-images.githubusercontent.com/91492685/134960418-4eb093d6-6cb9-42c9-b134-23b3ca4650c1.jpg)
IFC:
[R8_F1_MAB_AR_M3_XX_XXX_MO_7000.zip](https://github.com/IFCjs/web-ifc-three/files/7238345/R8_F1_MAB_AR_M3_XX_X

[2021-09-29 08:03] #42 closed

[2021-09-29 13:15] RiaAguApo opened #51 "U-Shape beam without representation in the model"
No representation in the model of the U beam of this IFC file.
[C200.zip](https://github.com/IFCjs/web-ifc-three/files/7252135/C200.zip)

[2021-09-30 08:36] TristanLecallier opened #52 "Loading ifc file impossible"
Hi, I have an ifc file which can't be loaded with web-ifc-three (it's working with other viewers). I'can't share it publicly, so I sent it privately.

![Capture d’écran 2021-09-30 à 10 34 28](https://user-images.githubusercontent.com/46968115/135417721-a92d5643-1358-4e9e-bfa3-7ec44b47d770.png)

Thanks !

[2021-10-07 09:57] harrycollin opened #53 "three-mesh-bvh error from SubsetManager.createSubset()"
[three-mesh-bvh](https://github.com/gkjohnson/three-mesh-bvh) sometimes throws error 'TypeError: Cannot read properties of undefined (reading 'count')' when using geometry subsets. This is reproducible by passing an empty selection array to [SubsetManager.createSubset](https://github.com/IFCjs/web-ifc-three/blob/327320ba46508257a15ecb631bb264ac2a3a2b18/web-ifc-three/src/IFC/components/SubsetManage

[2021-10-21 11:07] harrycollin commented on #46
The error here is a duplicate of https://github.com/IFCjs/web-ifc-three/issues/53

[2021-10-23 20:23] #53 closed, assigned to nobody

[2021-10-23 20:44] #40 closed, assigned to nobody

[2021-10-24 19:05] #45 closed, assigned to nobody

[2021-10-27 11:23] shamri-co opened #54 "Problems loading ifc files"
Hi! I have problems loading some files, this is the error:

![errorLoad](https://user-images.githubusercontent.com/93258768/139055596-d8b1511c-2b57-4ec6-84f9-1b2554da8140.png)

[2021-10-27 11:25] #54 closed, assigned to nobody

[2021-10-27 11:30] shamri-co opened #55 "I can't see the representation of the model when I load some files"
Hi! When I load the ifc file I get this warnings and it is not possible to see the model representation in 3D.

![errorLoad](https://user-images.githubusercontent.com/93258768/139057395-88a87cd7-a070-424b-9a28-33bed86cac15.png)

[2021-10-27 11:36] #55 closed, assigned to nobody

[2021-10-27 13:42] vascoguita opened #56 "Path to web-ifc.wasm file"
To implement a Vue.js component that loads IFC files the path to web-ifc.wasm has to be specified with `setWasmPath(./foo/bar/)`.
The problem is that this method prefixes the specified path and doesn't accept an absolute path or a URL.
Would it be possible to provide more functions to set the wasm path?

In my case, if I set the path to the web-ifc.wasm file with `ifcLoader.ifcManager.setWasmPath(

[2021-10-29 11:59] drcmda opened #57 "the npm package points to a index.js that doesn't exist"
docs state that ifc should be used as:

[code]

<img width="1021" alt="Screenshot 2021-10-29 at 14 00 59" src="https://user-images.githubusercontent.com/2223602/139430793-1ea8a509-06a0-447b-b891-f9f29fd8461a.png">

but that won't work, see https://unpkg.com/browse/web-ifc-three@0.0.75/ package.json says `"main": "index.js",` but there is none in the package.

[2021-10-31 17:04] agviegas commented on #57
Hi! Did you try  ` import { IFCLoader } from "web-ifc-three/IFCLoader";`? We'll update the npm description, sorry for the inconvenience!

![image](https://user-images.githubusercontent.com/56475338/139594275-5f7cb7f6-149e-4e08-93a0-74e5d41b6dac.png)

[2021-11-05 10:44] antoniohof opened #58 "getSpatialStructure with include Properties true could return translated IFC TYPE"
[code]

now each object has a 'type' property that is an ID and not an IFCTYPE string. (like in the previous versions).
<img width="136" alt="Screen Shot 2021-11-05 at 11 44 05" src="https://user-images.githubusercontent.com/8311230/140498726-6323689d-e83a-4ea0-8f47-88466389e95d.png">

so after getting the spatial structure I still have to iterate through all elements setting the IFCTYPE using the

[2021-11-05 12:57] ben-girardet opened #59 "Keep instantiated classes intact when using web workers"
I've noticed that when using methods such as `IfcManager.getPropertySets(modelID, expressID, true)`, the returned value is serialized and thus the instances of `IfcPropertySet`, `IfcPropertySingleValue` and so on ... are lost.

It would be a game changer to keep the data correctly instantiated (when using web workers) and to keep the typing intact. Currently the return type of `IfcManager.getPrope

[2021-11-07 23:19] favreau84 opened #60 "A model that used to be loaded correctly is now not being loaded with the last release"
I recently upgraded the lib to the new versions :

 "web-ifc":"^0.0.24"=>  "^0.0.28",
  "web-ifc-three": "^0.0.68" => "^0.0.80",

Now, I have some models that are not loaded, (but they did load before),  like this one [station_0.ifc.zip](https://github.com/tomvandig/web-ifc/files/7493293/station_0.ifc.zip)

Any idea ?
Thanks !

[2021-11-08 07:12] tomvandig commented on #60
I’ve done a bunch of changes to the bool algo, looks like I’m not done yet :-)

I will let you know when it’s fixed

[2021-11-08 11:05] ElmoreaBIM opened #61 "Values with accents and other symbols in IFC and UTF decoding"
Hi, I have characters with accents in the IFC file, and when I read the value in the IFC it appears encoded as UTF-16 I think and I can't decode it.
Sorry for the wording of the question, I had to use automatic translator.
Thanks!

[2021-11-08 11:21] tomvandig commented on #61
https://github.com/tomvandig/web-ifc/issues/58

[2021-11-08 11:24] ElmoreaBIM commented on #61
Thanks @tomvandig , I will read it carefully

[2021-11-08 11:25] agviegas commented on #61
Thanks @tomvandig !

[2021-11-08 11:25] #61 closed

[2021-11-08 12:37] KiWiGiW opened #62 "Web-workers bug"
useWebWorkers only works if it appears before the setWasmPath, otherwise it displays an error.

setWasmPath before useWebWorkers:
![image](https://user-images.githubusercontent.com/30846915/140743535-0b0b0e90-6ce7-454f-8bd9-aca4e107ddba.png)
![image](https://user-images.githubusercontent.com/30846915/140743218-739fc4ca-8e8a-426f-9b45-25d3a8254705.png)

useWebWorkers before setWasmPath:
![image](ht

[2021-11-08 18:15] favreau84 commented on #60
Hi @tomvandig, as @agviegas suggested, I turned the USE_FAST_BOOLS to true and this works. It's a little bit too magical but it does the job :-)

![image](https://user-images.githubusercontent.com/18169247/140795716-0b0f8cb8-dd23-4ef7-b75e-79c8ddbb54e8.png)

[2021-11-10 09:04] TristanLecallier opened #63 "Regression of geometry since web-ifc-three 0.0.81"
Hi ! Since the last release of web-ifc-three, I have a regression on geometry. My 2 wasm files are put in the root of my project.
![image](https://user-images.githubusercontent.com/46968115/141082801-e8a88733-8364-412e-b370-1d0df894b7e0.png)

Antonio, I sent the file privately.

[2021-11-12 14:08] alex-moon opened #64 "Incorrect import in JS on NPM"
Steps to reproduce:
1. `npm install web-ifc-three`
2. `import {IFCLoader} from 'web-ifc-three/IFCLoader';`

Expected: code compiles
Actual:

[code]

Solution - in `IFCLoader.js`:
[code]

I would make a PR but I don't know how this JS file is generated I'm sorry.

[2021-11-19 06:18] TristanLecallier opened #66 "Error with getPropertySets"
Hi
I have on error when I try to get propertySets of elements. I don't think the problem is in my code because it works with other ifc files (and I also tried with the web-ifc-three github example with the same result...).
I'm also not sure that the problem comes from the ifc file because I have no issues with other viewers...
@agviegas I sent you the file privately
Thanks !
![image](https://user-

[2021-11-20 20:38] agviegas commented on #64
Hey, have you updated three.js? In the last version they changed the API and now the BufferGeometry API is like the current implementation of the library.

[2021-11-22 01:36] cesarecaoduro opened #67 "Round surface coming faceted"
![2021-11-18 10_40_06-https___tomvandig github io_web-ifc_examples_viewer_index html and 6 more pages ](https://user-images.githubusercontent.com/26373891/142788526-918b28b6-1efb-4021-b76f-e2007b341249.jpg)

[Link to the model](https://1drv.ms/u/s!AsVTLaRAja9-g68sNwYW4F-eYngg4A?e=iLXl6h)

[2021-11-22 10:11] antoniohof opened #68 "getIfcType is broken"
After the latest release, when getting the structure of the IFC the type value is undefined.
And also the function getIfcType returns undefined.

<img width="277" alt="Screen Shot 2021-11-22 at 11 10 04" src="https://user-images.githubusercontent.com/8311230/142842787-0b281f3b-6e39-43df-8080-0f8e029fad63.png">

I suggest reverting this PR
https://github.com/IFCjs/web-ifc-three/commit/d71f893ba293e

[2021-11-22 10:25] harrycollin commented on #68
@antoniohof I'm sorry you're having problems with this. I've tested this and can't reproduce the problem you're having. Can you give more details on your setup? FYI - I've tested getIfcType and getSpatialStructure, both return types as strings.
![image](https://user-images.githubusercontent.com/10602138/142844880-834cb1c9-0c61-47e6-9242-577b8dbd869f.png)

[2021-11-22 10:32] harrycollin commented on #68
My bad, I was testing in the wrong branch. Indeed getIfcType seems to be broken. But it seems to be broken after that commit. Perhaps @agviegas knows what this could be?

[2021-11-22 12:00] antoniohof commented on #58
resolved in latest versions

[2021-11-22 16:17] SpiderProjectDeveloper opened #69 "The windows are not transparent"
Hello!
I have a free ifc model (http://openifcmodel.cs.auckland.ac.nz/_models/231110AC11-Institute-Var-2-IFC.ifc)
When displayed with web-ifc-three there is a problem with the windows - these are not transparent
![image](https://user-images.githubusercontent.com/79970639/142896648-ab35d538-ad44-4787-bee0-805fb0e22092.png)
As well I have some warnings in the developer's console (please, see the pic

[2021-11-30 13:14] tomerel22 opened #70 "Split model by his layers"
Is it possible to spit a IFC file by his layers?
 For example, if I have a model of house, I want to see the house without the roof and then without his last floor .

[2021-11-30 15:06] simon-gd opened #71 "IFC with no materials fails to load"
A simple IFC file that doesn't have properties or materials doesn't load. Since it seems to open fine in BIM Vision, I assume that the IFC is ok, but not 100% sure. Might be worth investigation
<img width="1587" alt="Screenshot 2021-11-30 09 51 34" src="https://user-images.githubusercontent.com/57882634/144072114-e88a1d22-3707-4873-803c-0628e89ab81d.png">

This zip contains two version of the mode

[2021-12-06 13:28] thmax opened #72 "Strange behavior for materials rendering"
Hey !
I'm having an issue with the materials when i use the ifcLoader from web-ifc-three.
On the first photo, you can see some materials'color is white (i also trie with the viewer and it looks the same).
If I load the same model on Trimble, the materials are fine (second photo).

![image](https://user-images.githubusercontent.com/52961165/144853955-9b428380-5466-4531-88d4-6ae4e694897f.png)
![imag

[2021-12-10 09:54] aybond opened #73 "Incorrect processing of IfcFlowSegment elements"
Hello there!

I`ve discovered that the last version of this example app has failed to load correctly the IFC2x3 model containing IfcFlowSegment type elements and not only:
![incorrect_december_10](https://user-images.githubusercontent.com/6682452/145554253-4fd8b25b-eb62-4fd7-b119-abf5022a5dfc.png)

The previously pulled version (November 22 2021) loads the segment elements correctly:
![correct_nov

[2021-12-11 17:11] josesoutoleon opened #74 "Object absolute placement"
Actually is pissible to get object placement coordinates wich are relative to other object, parent object.
Some times is very useful to know what is the absolute object placment referred to project placement coordinates.

So please add an absolute object placement property to objects in order to get it.

A more generic implementation woul be to get absolute placement not only referred to project p

[2021-12-11 17:13] agviegas commented on #74
Hey, would you mind bringing this to [web-ifc](https://github.com/tomvandig/web-ifc)?

[2021-12-11 17:32] #74 closed

[2021-12-11 17:33] josesoutoleon commented on #74
I close this issue beacause it has been moved to ticket 116 in web-ifc project

[2021-12-14 21:31] msageryd opened #75 "How to setWasmPath with react-three-fiber?"
I'm not able to load my ifc model. Have tried to copy `web-ifc.wasm` to the project root. Also tried to set the path to various places. But I don't really know where "I am" in the folder tree to be able to set a relative path.

Q1. Is the below the correct approach to configure the loader when I don't have access to it imperatively, as in regular Three?

Q2. What should I set the path to?

[code]

[2021-12-15 15:14] TristanLecallier commented on #63
This issue is fixed by one of the last release

[2021-12-15 15:14] #63 closed

[2021-12-15 19:12] beachtom opened #76 "RangeError: Maximum call stack size exceeded - when creating subsets"
Hi,

When creating a very large subset I get the following error:

IFCLoader.js?8ae8:478 Uncaught RangeError: Maximum call stack size exceeded
    at SubsetCreator.insertIndicesAtGroup (IFCLoader.js?8ae8:478)

This is at this line;

 this.tempIndex.splice(position, 0, ...(indicesByGroup.slice(offset, offset + batchSize)));

My initial thought was the variable spread operator is causing the issue -

[2021-12-20 08:35] favreau84 opened #77 "Issue when creating subsets with webworkers in production"
web-ifc-three: 0.0.96

## Description

I'm trying to create a subset from every expressIDs of one model. The subset creation ends with this error :

<img width="432" alt="error" src="https://user-images.githubusercontent.com/18169247/146736293-708a23aa-c427-4e2d-ba92-c9518529ac47.png">

## Detail

- It does not fail for every files : File A (OK), File B (KO).
- It does not fail in localhost, but i

[2021-12-20 09:03] favreau84 commented on #77
Here another example of file B (KO) that ends with this error :
[HANDRAIL.ifc.zip](https://github.com/IFCjs/web-ifc-three/files/7743920/HANDRAIL.ifc.zip)

![image](https://user-images.githubusercontent.com/18169247/146739922-c361722c-f51d-45c8-9119-4230338cb61d.png)

[2021-12-20 09:07] dlabz commented on #77
you could add a runtime param to increase node stack and see if that helps:

`node --stack-size=65500 app.js`

[2021-12-20 10:23] favreau84 commented on #77
@dlabz , @agviegas , increasing the stack size to 65500 still results with the same error for both files :
![image](https://user-images.githubusercontent.com/18169247/146752189-60a95d5e-615c-4703-9c1e-266ea346600a.png)

It seems that the error occurs for models with lots of expressIDs ...

[2021-12-21 06:40] aybond commented on #73
Hello there again!

Library versions for which the model is loaded integrally:
- three: **0.132.2**
- web-ifc: **0.0.28**
- web-ifc-viewer: **1.0.103**

[2021-12-23 09:59] agviegas commented on #76
Solved in 0.0.98. Let us know if this happens again!

[2021-12-23 09:59] #76 closed

[2021-12-23 10:00] agviegas commented on #49
Solved, you can now access `webIfcAPI.properties` to have the same property handling logic.

[2021-12-23 10:00] #49 closed

[2021-12-26 07:07] dasviridov opened #78 "Window openings sometimes don't work"
Loading some of ifc models for houses result models being loaded without window openings. See screenshots of source ifc file in BIM Viewer and the same file in web-ifc-viewer. Source file is attached as well.

![web-ifc-viewer](https://user-images.githubusercontent.com/15569157/147401341-38508e98-6043-460f-95ab-d0d50e7a2ae7.png)

![bim_vision](https://user-images.githubusercontent.com/15569157/147

[2021-12-27 09:30] huzhy2019 commented on #56
****

[2021-12-28 23:30] simon-gd opened #79 "Incorrect Rendering"
Attaching a screenshots and IFC model of a example Solibri buildings that web-ifc-three seems to have trouble with.

![web-ifc-three](https://user-images.githubusercontent.com/57882634/147614593-6c94f96d-8571-4920-ad6c-5d74fc7c271d.png)

![Same model in BIM Vision](https://user-images.githubusercontent.com/57882634/147614596-902d637e-f195-471a-820b-b016e5f54883.png)

[Solibri Building.zip](https:/

[2022-01-18 12:05] chris-qs opened #81 "Incorrect location"
I tried to open IFC using the latest web-ifc-three. It seems loaded with incorrect location.
So I tried it on 0.0.81, it works correctly.
How to load IFC correctly? Please help me.

Web-IFC-Three
![Incorrect-Coordinate](https://user-images.githubusercontent.com/75461262/149932463-883c996d-099e-4d3a-a3f3-697048a19406.png)

ArchiCAD
![Archicad](https://user-images.githubusercontent.com/75461262/1499

[2022-01-20 09:43] chris-qs commented on #81
I solved as set COORDINATE_TO_ORIGIN to false.

[2022-01-20 09:43] #81 closed

[2022-01-20 22:44] agviegas commented on #73
Hi! I think this is fixed in the latest versions:
![image](https://user-images.githubusercontent.com/56475338/150433914-12b70d21-8331-40c8-a2cc-d4b1b5713c1a.png)

[2022-01-20 22:44] #73 closed

[2022-01-20 22:46] agviegas commented on #79
Hi! Can you please create this issue in [web-ifc](https://github.com/tomvandig/web-ifc)? This is where we handle geometric problem. Thanks a lot!

[2022-01-20 22:46] #79 closed

[2022-01-20 22:47] agviegas commented on #78
Hi! It looks like an issue with boolean operations. Can you please create this issue in [web-ifc](https://github.com/tomvandig/web-ifc)? This is where we handle geometric problem. Thanks a lot!

[2022-01-20 22:47] #78 closed

[2022-01-20 22:48] agviegas commented on #77
Hi, I think I fixed this in the last versions. Can you please confirm it?

[2022-01-20 23:00] agviegas commented on #75
Hi! I recommend you using our repositories, as the library is quite young and the update rate is much faster than the updates to three.js. You can import `web-ifc-three` and work with that.

I have no experience with react-three-fiber, but you have to place the WASM files in the folder where the static files are. I think react has a `public` folder containing that, doesn't it?

[2022-01-20 23:08] agviegas commented on #72
Hi, you are correct. This error is coming from [web-ifc](https://github.com/tomvandig/web-ifc). Would you mind creating the issue there? Thank you a lot!

[2022-01-20 23:08] #72 closed

[2022-01-22 18:56] agviegas commented on #71
Hi! I checked this out and the error is coming from [web-ifc](https://github.com/tomvandig/web-ifc). Would you mind opening the issue there? Thanks a lot!

[2022-01-22 18:56] #71 closed

[2022-01-22 19:00] agviegas commented on #70
Hi! You can create a subset with a given array of IDs. This means you can create multiple subsets by different "layers" of the model (e.g. floor plans, cathegory, etc).

You can learn more about subsets [here](https://ifcjs.github.io/info/docs/Guide/web-ifc-three/Tutorials/Highlighting). To get the IDs of what you call "layers" you can check out [this tutorial](https://ifcjs.github.io/info/docs/Gu

[2022-01-22 19:00] #70 closed

[2022-01-22 19:13] agviegas commented on #69
Hi, the windows are opaque because by default web-ifc-three loads the `IfcSpaces` in the model. You can disable them like this:

[code]

[2022-01-22 19:13] #69 closed

[2022-01-24 08:11] favreau84 commented on #77
Hi @agviegas , yes, you did fix it. I close the issue. Thanks.

[2022-01-24 08:11] #77 closed

[2022-01-28 21:57] favreau84 opened #82 "Remove GetLine function from webworkers"
# Problem
(related to https://github.com/tomvandig/web-ifc/issues/138)

I'm using the ifcAPI.GetLine method in the context of web-ifc-three + webworkers = true  in ordre to modify later on the ifc file.
The problem is that in this context, the output is not "typed" correctly: the webworker drops the typing and we are losing the ToTape method of the prototype.
This is a problem because I can't use

[2022-01-29 17:46] Amar-Gill commented on #75
React will start looking from project root. I put my wasm files in a `resources/` folder, so I have `manager.setWasmPath('resources/');`

[2022-01-29 18:56] Amar-Gill opened #83 "react-three-fiber: manually have to set `manager.state.models[modelID]` before `createSubset` + `removeSubset` not working"
## Description
In my react-three-fiber project, I have to manually set `ifcManager.state.models[modelId]` before making a call to `ifcManager.createSubset()`. I thought the `createSubset` method would handle this on it's own:

[code]

Without the call to `manager.state.models[modelID] = intersection.object;` I get the following error:

[code]

Additionally, when I call `removeSubset(modelID, highl

[2022-02-09 09:06] lukaszkaleta opened #84 "IFCLoader.js:3029 TypeError: Cannot convert undefined or null to object"
I am trying to create web component (based on lit.dev) which does preview of IFC model:

web-ifc: 0.0.32 threading: 0
web-ifc-api.js:7043 complex bool aborted due to BOOL_ABORT_THRESHOLD
IFCLoader.js:3029 TypeError: Cannot convert undefined or null to object
    at Function.keys (<anonymous>)
    at TypeManager.getAllTypes (IFCLoader.js:1956)
    at async IFCManager.parse (IFCLoader.js:2846)
    a

[2022-02-15 09:27] baptistelechat opened #86 "Some elements are not rendered with web-ifc"
Hello, do you know why the render is different between a common IFC viewer (like BIM Vision for the exemple) and IFC Js ? Some walls are not render 😅🤔 The first and second capture are from my IFC JS app and the last two from BIM Vision.

I have done export in IFC 2x3 from REVIT 2021, can this have an impact with an app using IFC JS ? Should I use something "newer" like IFC 4 for example? (In theor

[2022-02-19 11:13] baptistelechat commented on #86
Hello, after some tests, it seems that the problem came from the person who built the model using in-situ models in Revit. After an adaptation of the source file and a new export in IFC, it works perfectly.

[2022-02-19 11:13] #86 closed

[2022-02-24 09:33] iserranoe commented on #83
I'having the same issue, which was not present in previous versions.

[2022-02-24 11:02] agviegas commented on #83
Hi! What version of IFC.js are you using? Are you accessing / changing `ifcManager.state.models` somewhere else? Are you using the version of Three.js specified by the peer dependency of IFC.js? 🤔

[2022-02-24 11:04] #84 closed

[2022-02-24 12:01] #60 closed

[2022-02-24 12:20] agviegas commented on #44
Moved the issue to [web-ifc](https://github.com/tomvandig/web-ifc/issues/147).

[2022-02-24 12:20] #44 closed

[2022-02-24 15:23] iserranoe commented on #83
In my case, I have these dependencies:
[code]
And in package.json
[code]

[2022-02-24 19:29] agviegas commented on #66
Solved from `0.0.104`! 🔥 The cause of this issue was that some property sets had broken links. We are now warning that in the console but the execution proceeds and you can get the rest of the properties.

[2022-02-24 19:29] #66 closed

[2022-02-24 20:00] #68 closed

[2022-02-24 20:03] agviegas commented on #51
Sorry for the delay! 💛 I solved this today. This should be working in the next web-ifc release. I haven't implemented the rounded bevels yet, but we'll improve that in the future.

[2022-02-24 20:03] #51 closed

[2022-02-24 20:07] agviegas commented on #56
Sorry for the delay, it has been busy weeks! 🔥 I solved this today. This should be working in the next web-ifc release. Let us know if that still doesn't work after that 😊

[2022-02-24 20:07] #56 closed

[2022-02-24 20:14] agviegas commented on #57
Solved from `0.0.104`! 🎈 Sorry for the delay, these have been really busy weeks. Thanks for reporting this.

[2022-02-24 20:14] #57 closed

[2022-02-24 22:54] Amar-Gill commented on #83
package.json
[code]

In node_modules, `web-ifc-three` shows
[code]

I'll try downgrading to 0.135

[2022-02-24 22:56] Amar-Gill commented on #83
I'm also not changing `ifcManager.state.models` anywhere else

[2022-02-24 23:01] Amar-Gill commented on #83
@agviegas still same error after downgrading to `three@0.135.0` which matches peer dependancy of `web-ifc-three` version I installed.

[2022-02-24 23:34] Amar-Gill commented on #83
Do you think it's because I'm using `useBVH` hook from `@react-three/drei` and not `three-mesh-bvh` used in examples?
[code]

[2022-02-25 10:35] agviegas commented on #83
Hum. Two questions:
1. You are using the IFCLoader from web-ifc-three and not the one from Three / react-three-fiber, right?
2. Are you using web-workers?
If you have an example I can debug (either a small repo or a live example) I will happily look into it.

[2022-02-26 17:07] Amar-Gill commented on #83
Correct I'm using IFCLoader from web-ifc-three. So I was talking with r3f team, and was able to use the `useLoader` hook from r3f package to load the load the ifc model. It seems to fix my first issue, where I need to manually set `manager.state.models[modelID]`. However, the `removeSubset` functionality is still not working. I will close this issue and make a separate issue for that.

I've update

[2022-02-26 17:10] Amar-Gill commented on #83
[code]

[2022-02-26 17:10] #83 closed

[2022-02-26 20:22] agviegas commented on #83
Thanks a lot for sharing it! 💛

[2022-02-26 20:23] Amar-Gill opened #87 "react-three-fiber: `manager.removeSubset` not removing highlighted model"
### Description

Trying to use the `ifcManager` class to highlight objects in a r3f project. The call to `ifcManager.createSubset` will highlight a model correctly. However, `ifcManager.removeSubset` does not remove the highlight from any previously selected models.

Here is the function being used:

[code]

### Reproduction
I have a repo where a test model will be loaded for you:

[code]

Double

[2022-03-02 16:35] agviegas commented on #83
Hi @iserranoe! Just FYI, right now IFC.js is not supposed to be destroyed / reinitialized multiple times during the execution of the application. This might change in the near future, but right now this is how it is. Are you destroying / reinitializing it?

[2022-03-02 16:41] iserranoe commented on #83
Hi @agviegas! I don't think I am destroying or reinitializing it

[2022-03-02 16:43] agviegas commented on #83
Are you sure @iserranoe? I mention this because I am aware that when libraries/frameworks like react or angular do this automatically. For instance, if you are initializing IFC.js in a component, it is destroyed whenever that component is removed from the DOM (e.g. the user navigates away from the viewer).

[2022-03-02 19:19] agviegas commented on #83
The plan is to support this destruction / reinitialization very soon (hopefully before the end of next week). Until then, you can try locating IFC.js somewhere that doesn't get automatically destroyed. If that's not your case, let us know and we'll investigate further!

[2022-03-03 11:09] iserranoe commented on #83
I finally made it work using @Amar-Gill sugestion and making model.id=0:
When I set 'ifc.state.models[model.id] = found.object' I had problems with 'ifc.getItemProperties'. As before, this was happening when I changed pages. I found that model.id was 0 in the first case and an int number in the second case, so I just set model.id to 0, but I really don't know what is going on, just that it works s

[2022-03-05 01:31] Amar-Gill commented on #87
Thanks @agviegas - this got me thinking. I ended up fixing this issue by using `useRef()` instead of `useState()` to store the highlighted model id:
[code]

I'm not 100% certain on the underlying reason this works. I think it's because `setState` enqueues a re-render of the component while the mutable ref object does not. Hopefully a more experienced React dev can chime in.

I've updated the git r

[2022-03-05 12:42] agviegas commented on #62
Solved from `0.0.106` 😊

[2022-03-05 12:42] #62 closed

[2022-03-05 12:46] agviegas commented on #67
Hey, you should be able to control the number of segments through [the configuration of web-ifc](https://ifcjs.github.io/info/docs/Guide/web-ifc-three/api#applywebifcconfig). Right now we are based in polygons, and there is no plans of supporting pure curves due to how Three.js works. Hopefully this helps!

[2022-03-05 12:46] #67 closed

[2022-03-05 12:49] agviegas commented on #75
Hey, this should be solved following the given pointers. If not, let us know!

[2022-03-05 12:49] #75 closed

[2022-03-05 12:52] agviegas commented on #82
Hey, I think this is related to [this other issue](https://github.com/IFCjs/web-ifc-three/issues/59). Perhaps instead of removing the method we can find a way to reconstruct the typing after the serialization. What do you think?

[2022-03-09 01:53] #87 closed

[2022-03-11 11:57] SpiderProjectDeveloper opened #88 "THREE.BufferGeometry.computeBoundingSphere(): Computed radius is NaN. The "position" attribute is likely to have NaN values."
Hello!

There is an exception that happens when loading an ifc file (the one attached):
![image](https://user-images.githubusercontent.com/79970639/157862235-17af6ee0-ccc1-4390-a022-bbcae12d7c5b.png)
[ifc2.zip](https://github.com/IFCjs/web-ifc-three/files/8231614/ifc2.zip)

Thank you!

[2022-03-14 09:02] sulhamri opened #89 "We can't obtain a Quantity set when we load an ifc file with web-ifc."
In the attached file, we have 2 ifcSpace elements contained in 2 different ifcBuildingStorey elements. When we get an ifcSpace element as a child of ifcBuildingStorey and we get the property sets, the result obtained is Pset_BuildingStoreyCommon instead of Qto_SpaceBaseQuantities. Please, can you see if there are any errors loading the quantity set Qto_SpaceBaseQuantities in ifcSpace.
[sulhamri_ex

[2022-03-15 21:35] agviegas commented on #83
[This new tutorial](https://ifcjs.github.io/info/docs/Guide/web-ifc-three/Tutorials/Memory) might be relevant. 🙂

[2022-03-16 10:26] Feldspatt opened #90 "await ifcLoader.ifcManager.dispose(); is not found."
While reading the ifc three memory managment section ("https://ifcjs.github.io/info/docs/Guide/web-ifc-three/Tutorials/Memory"), I tried to implement the ifcLoader.ifcManager.dispose(); function, but it wasn't recongnized.
However there is a disposeMemory() function.
Could it be the same function, renamed? If so the documentation doesn't reflect it. I might also be doing something wrong on my side

[2022-03-17 16:11] iserranoe opened #92 ""geo.attributes.position is undefined" when selecting in multiple objects"
I'm representing multiple objects in the same ifc loader in React. As I have the models in different urls the code for loading them is something like this:

[code]
This is working fine; however, I also want to highlight the subsets following the tutorial here: https://ifcjs.github.io/info/docs/Guide/web-ifc-three/Tutorials/Highlighting. With just one model it's working fine, but with two I can onl

[2022-03-23 10:05] agviegas commented on #89
Hi, I have checked and I'm obtaining both of them. What library are you using? I need to see your code to see what's wrong.

[2022-03-25 12:50] Medo-85 opened #93 "Using webworkers and wasm apprach generates browser out of memory on large files"
If I use the webworkers with wasm approach with large files like above 200mb the browser display this page
![image](https://user-images.githubusercontent.com/80624459/160123219-d7ed5475-c4d3-4788-950f-988a0e44bd62.png)
Also if I don't use the webworkers it works fine

[2022-03-29 09:15] agviegas commented on #93
Hi! Unfortunately, webworkers make it necessary to serialize data, and that has a limitation.

We are putting toguether a workflow for bigger files that involve exporting the models to GLTF+JSON. That solves all performance issues for all use cases (models load aprox 10 times faster) and make the whole thing much more scalable. All the tools will work with this workflow as well. I'm putting toguet

[2022-03-29 09:15] #93 closed

[2022-03-29 09:34] MattiasOlssonNikDev commented on #93
Hi thanks for you answer! I am having a similar problem with an app to validate properties, calling ifcManager.getAllItemsOfType then looping and calling getItemProperties, getPropertySets, getMaterialsProperties and getTypeProperties and then validating the properties.

I'm trying to run my own webworkers and than partition what elements the workers are to process. But the memory runs out when al

[2022-03-29 10:08] agviegas commented on #93
The problem is that given that IFC is a text file and due to the current implementation, all properties+geometry must be loaded in memory to read them. This is not very scalable.

So these days we have put toguether an exporter that converts an IFC into an array of glTF files (geometry) + a JSON (properties). This way, geometry loading gets exponentially faster, users can only load the geometry th

[2022-03-30 23:12] lewibs opened #94 "getSpatialStructure Failed"
spatial structure failed to generate as shown in the attached image.
https://photos.app.goo.gl/so4mRnKGY5pMge748

Here is the file that was used for this error.
https://drive.google.com/file/d/1UFl0hz8nkoh_-oDxJ_xZxa6fc24mm3KB/view?usp=sharing

The IFC loads mostly successfully missing a few components this may have been the cause of the issue. This is possibly related to this issue with more cont

[2022-04-04 07:07] m1900 opened #95 ""Uncaught (in promise) TypeError: this context is undefined" in prePickIfcItem"
I keep getting the mentioned error in my application based on this post [https://ifcjs.github.io/info/blog/Build%20a%20CDE%20in%2030%20minutes/ ](https://ifcjs.github.io/info/blog/Build%20a%20CDE%20in%2030%20minutes/ ) (I left out the Google Drive part and select an IFC using a simple input element instead). Version of web-ifc-viewer used is 1.0.168.

An extract of my code can be found in my [Prot

[2022-04-04 07:13] MadsHolten opened #96 "Export of space boundaries"
web-ifc-three generates mesh geometries for building elements and spaces but not for space boundaries although these do also have a geometrical representation.

Here is an example of properties that exist on an instance of *IfcRelSpaceBoundary*:

[code]

This video demonstrates how the space boundaries of a model could look. In the example, the space boundaries are extracted with ifcopenshell for

[2022-04-04 07:21] MadsHolten opened #97 "Geometry doesn't render correctly when using web workers"
When using web workers some geometries don't render as they should. (web-ifc-three@0.0.108, web-ifc@0.0.33).

![webworkers](https://user-images.githubusercontent.com/13613073/161492792-e67d4869-5a03-43ce-a89d-5a62dff8ee99.png).

If an object is picked (and a subset of the geometry is generated) the object occurs fully as it should.

Reproduce:
[Without web workers](https://ld-bim.web.app/?duplex=t

[2022-04-06 07:12] m1900 commented on #95
This issue actually belongs to [web-ifc-viewer](https://github.com/IFCjs/web-ifc-viewer) but I don't have the right to transfer it.

[2022-04-07 17:09] simplynail commented on #95
Hi @m1900 , I'm getting similar error when basing my code on "google drive CDE" blog post but for local drive ifc file selection.
I'm passing `ifcfile = event.target.files[0]` to `window.webIfcAPI.IFC.loadIfc(ifcfile)` (I'm using "test.ifc" file from "examples")
and I get:
[code]

[code]

[code]

[2022-04-11 12:39] fabriceblache opened #98 "No basis found for brep!"
Hello

I have this problème in the console when I open an IFC. There nothing on the screen

"No basis found for brep!            bundle.js:38451
zero triNo basis found for brep!
"
...
, put_char: function(tty, val) {
          if (val === null || val === 10) {
->            out(UTF8ArrayToString(tty.output, 0));
            tty.output = [];
          } else {
            if (val != 0)

[2022-04-11 13:08] agviegas commented on #98
Hi, we need to see your code and/or the IFC file that you are using.

[2022-04-13 19:40] Medo-85 commented on #93
Hi @agviegas thanks for clarification, may you please describe the the workflow of GLTF+JSON like in steps so I may figure it out until the tutorial comes out.

[2022-04-14 12:28] favreau84 commented on #82
Hi @agviegas , I was about to release a new version of CAPLA that enables architects / BIM manager to modify the position of one ifc site when it is not compliant with the project origin.

It will be a first great example on how editing .ifc with ifc.js (the ifc position in this case) can simplify some BIM processes.

There's still this issue though... And I don't want to remove webworkers since i

[2022-04-15 22:58] agviegas commented on #96
Hey, I've tried this and the definition of the geometry of those spaces is _slightly different_ to the definition of the geometry of building elements, so it's going to take some time until we are able to implement this in web-ifc.

I'm closing this because this belongs to the realm of web-ifc. Would you please open it in [web-ifc](https://github.com/tomvandig/web-ifc)? Otherwise I can do it mysel

[2022-04-15 22:58] #96 closed

[2022-04-15 23:05] agviegas commented on #97
I forgot to apply `side: DoubleSide` to the materials during the de-serialization progress. I've fixed, this, will be published from `0.0.113`.

[2022-04-15 23:05] #97 closed

[2022-04-15 23:06] agviegas commented on #82
Fixed from `0.0.113`. I will publish this on sunday, I hope it's not too late 😉

[2022-04-15 23:06] #82 closed

[2022-04-17 19:32] agviegas commented on #93
Sure, you can find the [export example](https://github.com/IFCjs/hello-world/tree/main/examples/web-ifc-viewer/gltf-export) and the [import example](https://github.com/IFCjs/hello-world/tree/main/examples/web-ifc-viewer/gltf-import) in the hello-world repository. They are also published on github pages, so you can take a look at the [live examples](https://ifcjs.github.io/hello-world/examples/web-

[2022-04-18 10:00] favreau84 commented on #82
Great !

[2022-04-29 09:38] MaxiMenace opened #100 "Can't load a big amount of IFC"
Hello,

first sorry for my english, this is not my language.

Here is my problem : I have almost 4 giga of IFC Files to load (my PC has good configurations, RTX 3070 and 16 GB of RAM).
I built a function to load multiple IFC in a row (it work perfectly for almost 2 giga of IFC Files).
Once a certain amount of data has been loaded (i calculated almost 2.2 giga of files), it give me this error :
![i

[2022-05-04 13:36] TiberioG opened #101 "Specify supported node version"
I tried to `yarn build` `npm run build` and got some errors cause I was using node v17.5.0
I tried with lts/gallium and everything went well.
I could open a PR adding `  "engines" : {
    "node" : ">= 16.0.0 <17"
  }`  in the package.json or write it in the README.it  But maybe it's better if you specify which are the node and npm versions that you know are ok.

Thanks !

[2022-05-04 18:57] agviegas commented on #101
Hi! Hum, strange. Is there any breaking changes in node? Something we should do to make this compatible with future node versions?

[2022-05-04 21:15] TiberioG commented on #101
It was actually a problem with a rollup plugin
[code]

[2022-05-11 09:10] clement-procal opened #102 "Some objects are wrongly placed"
Hello, I tried to import an Ifc file, and I noticed that there are some issue with some objects position. I can't really fix this by myself, so I hope that somebody can have a look :)
IFCjs:
![Capture d’écran 2022-05-11 105420](https://user-images.githubusercontent.com/92861638/167813248-e012828b-fca4-43c5-86f5-f4b5ce4e3712.png)
Expected:
![Capture d’écran 2022-05-11 105444](https://user-images.gi

[2022-05-11 09:11] agviegas commented on #102
Hi, can you please open this issue in [web-ifc](https://github.com/tomvandig/web-ifc)? Cheers!

[2022-05-15 00:14] #98 closed

[2022-05-23 16:50] ericpasquiet opened #103 "COORDINATE_TO_ORIGIN setting with multiple geolocated files"
Hello,

I need to load multiple IFC files that are geolocated.
Each of these IFC file represent parts of a same building.
I cannot merge all these files into one : these are customer data, and they have to remain as is.
When loading all the files together with web-ifc-three, they superpose nicely to make up the whole building.

However, I get distorted geometry for small details because of the geo

[2022-05-27 14:56] axelra82 opened #104 "Vue 2.x infinite render loop"
# Preamble

I'm using `web-ifc-three` in a Vue 2.x project. The setup is rather large and there are many moving parts, but I will try and take out the relevant parts in the description below.

When running `getItemProperties` on a item in a `v-for` loop the API seems to be triggering a mutation on the `ifcManager` or `ifcLoader`. In turn creating an infinite render loop in Vue.

This is just my cu

[2022-05-31 10:04] bastien612 opened #106 "Browser freeze when loading a specific IFC"
Hello,

I have an issue with an IFC file.
The problem is that the browser tab freezes. The buttons stop responding and it takes about 10sec to close the tab.

I send it to Ansoni on discord, in private, because my client doesn't want it to be shared publicly.
It's name is GEF_ARC_HOB_C.ifczip.
I unzipped it for my test and used GEF_ARC_HOB_C.ifc.

It feels like the file is to big, but unzipped, it

[2022-05-31 12:59] #106 closed, assigned to nobody

[2022-06-10 06:09] ericpasquiet commented on #103
Looking at the examples provided, I was able to find a solution to my issue, but using a non-documented API.
I do a "COORDINATE_TO_ORIGIN = true" on the load of my first model, and when loading the next models, I fiddle with the coordination matrix :

[code]

This way, all models are correctly centered with each other.

However, I have found no documentation on these APIs I am using  (GetCoordinat

[2022-06-15 11:57] agviegas commented on #100
Hey @MaxiMenace right now we are not able to support IFCs of that size. We will work on this in the future (probably next year), but right now this is out of IFC.js scope. Sorry for this! Feel free to bring this topic back in a year 🙂

[2022-06-15 11:57] #100 closed

[2022-06-15 23:14] makc commented on #100
@MaxiMenace if you are feeling lucky, try to re-build wasm with higher MAXIMUM_MEMORY (which I think is around 2GB by default)

[2022-06-17 16:37] ENG-Mazri opened #107 "ERROR in wasm/web-ifc.wasm"
Hello! I'm new to IFC.js and using wasm, I was trying to follow the "getting started guide" but I'm having this problem over and over again, and I couldn't find a similar issue.
![Снимок экрана (70)](https://user-images.githubusercontent.com/84850871/174339796-4d55bf86-5172-4711-9595-60ee961aee8f.png)
I've read on discord that web-ifc should be 33 so I removed node_modules and reinstalled it with

[2022-06-17 19:34] #107 closed

[2022-06-21 12:50] antoniohof opened #108 "getIfcType returns undefined"
in the latest version, also getSpatialStructure returns type: undefined

its a regression, same as this: https://github.com/IFCjs/web-ifc-three/issues/68

[2022-06-22 14:09] axelra82 commented on #104
I was able to solve this by creating a map of the display names before mounting and then matching the item id to that.

As mentioned earlier, I think the "real culprit" here is Vue and its reactive nature (and of course me, in the sense that I was implementing logic that caused the infinite loop 😅).

The thing to take note of here I believe is that it was working fine with the old web-ifc from thr

[2022-06-22 14:09] #104 closed

[2022-06-22 14:14] axelra82 commented on #90
I'm using `ifcManager?.dispose();` and that's showing up fine on

[code]

which in turn has the dependencies

[code]

Are you running on latest versions?

[2022-06-27 21:50] axelra82 opened #110 "Slow highlighting/hiding/showing on large models"
I'm wondering what I'm missing in regards to `createSubset`, `removeSubset` and `removeFromSubset` and the intended use cases.

Some more complex models I've tested contain tens of thousands of IDs in total to check/use when highlighting parts of, or the entire, model. I've notice that around 2 000 IDs things start to get sluggish. Not to mention entire floors on a larger building model (with ~30

[2022-07-04 14:12] audeser opened #113 "Infrastructure file does not load"
I can visualize it on other viewers, but file refuses to load on IFC.js
[EarthWorks.zip](https://github.com/IFCjs/web-ifc-three/files/9040040/EarthWorks.zip)
File comes from official bSI repository, so it must be legit (https://github.com/bSI-InfraRoom/IFC-infra-unit-test/tree/main/Earthworks-12d-2).

[2022-07-05 13:51] antoniohof commented on #68
yes, getSpatialStructure returns objects with type: null.
as well as getIfcType.

I use it to label the IFC parts if they don't have a name.

[2022-07-08 13:36] MrPandawanTech opened #114 "Browser freezes completely when loading specific IFC"
Hello,

I have an issue with multiple IFC files.
The problem is that the browser tab freezes. The performance monitor shows 100% of the CPU is used.
The tab stops responding ,and it takes about 10 sec to close it.

I can share only one of these files in public:
The file is only 8Mo : https://we.tl/t-VKhSIq527a

I have already done some tests to make it work on ifcjs. The method I found for the mom

[2022-07-11 21:22] brutestack opened #115 "No way to use web-ifc-three with latest threejs version or any version other then 0.135.0"
Since this commit 852970e1137c9b1bdf189b4fe7deaf785408d47f there is no way to use web-ifc-three with any version of threejs other then 0.135.0 because of exact version match requirement in peerDependencies part of package.json
![image](https://user-images.githubusercontent.com/2864137/178360174-a61ba1c3-0540-4799-b461-8ca4bfba9a0c.png)

Is it really important for web-ifc-three to be used exactly w

[2022-07-15 12:31] mysterybear opened #116 "Uncaught Could not load ./foo.ifc: Cannot read properties of undefined (reading 'boundsTree')"
Looks like some issue with trying to use https://ifcjs.github.io/info/docs/Guide/web-ifc-three/api#setupthreemeshbvh

I've made a minimal example here: https://github.com/mysterybear/ifc-bvh-loader-issue-next

The main code is here: https://github.com/mysterybear/ifc-bvh-loader-issue-next/blob/main/components/App.tsx

If you run it (`yarn dev`) and comment out all the BVH stuff, it loads the IFC n

[2022-07-21 20:02] HassanEmam commented on #115
You can build the package on your local machine and update dependency to Three.js version you need and use it in your project. I have tested it and it did work.

[2022-07-22 15:46] makc commented on #115
@brutestack there is always a [way](https://stackoverflow.com/a/70396201/1652613) ;)

[2022-08-05 07:42] moh-fasial-ansari commented on #110
can you please tell me that how to create tree  structure in ifc when we click on asset then show all properties of asset same as forge propperties .
Storey 1 <- Get all IDs including nodes that don't contain geometry
    Basic Wall
    Basic Wall
    Basic Wall
    Basic Wall
Storey 2
    Stairs
    Stairs
    Stairs

[2022-08-08 01:21] sonisourabh opened #117 "Support AMD Js"
Does `web-ifc-three` supports AMD using [requirejs](https://requirejs.org/) way of writing js? Do you have any example app in AMD?

[2022-08-09 01:07] ywyanbin opened #118 "Get the coordinates of the subset on the screen"
How to get the coordinates of the subset on the screen

[2022-08-15 21:13] mysterieux30 opened #120 "IFCLoader bundling"
Hello guys how are you bundling the IFCLoader Data, I' getting this error when i try to use rollup -c config/rollup.config.js:

** ```
D:\9raya\src\web-ifc-three>rollup -c config/rollup.config.js
src/IFCLoader.ts → dist/IFCLoader.js...
[!] (plugin rpt2) Error: D:/9raya/src/IFC/components/FragmentParser.ts(221,31): semantic error TS2322: Type 'number' is not assignable to type 'string'.
src/IFC/com

[2022-08-17 14:15] Tamara2365 opened #121 "IFC raycaster sometimes not detecting intersections"
Hello, the raycaster takes a very long time to detect an intersection with the object. A very few clicks are detected as an intersection. Also the scene is attached to a panel on the website.

[code]

[2022-08-18 09:00] thmax commented on #121
Hey @Tamara2365 it's more a threejs issue ...
Though, i don't get why you pass an origin (camera.position) and a direction (vector.sub( camera.position ).normalize()) in your raycaster's constructor.
Because when you call setFromCamera, it "Updates the ray with a new origin and direction" (https://threejs.org/docs/#api/en/core/Raycaster).
Maybe it can help solving your issue

[2022-08-18 11:24] Tamara2365 commented on #121
Hey, in case someone else has the same problem, I solved it by changing the attribute in getItemProperties from true to false: `ifcLoader.ifcManager.getItemProperties(modelID, id, false);`. Also I used the function getBoundingClientRect() and changed the mouse coordinates to:
[code]
And now the intersections are detected fast.

[2022-08-18 11:24] #121 closed

[2022-08-22 16:33] dankollar opened #122 "RuntimeError when following the Hello World tutorial"
I'm going through the Hello World tutorial and I've literally just copied and pasted all the sample code. I'm just trying to get something up and running, but I'm getting the error in the attached picture when I open the project on my local host.

Here's what I've done:
1. All the sample code is copied and pasted
2. wasm files are in the root directory
3. I'm trying to load an ifc from a folder ca

[2022-08-31 18:41] elunty opened #123 "Incorrect material.side values when loading with example project"
Sample IFC: https://github.com/mrdoob/three.js/blob/dev/examples/models/ifc/rac_advanced_sample_project.ifc

Loading
![model_default](https://user-images.githubusercontent.com/1414366/187755169-bcd3685f-991b-443a-93e1-b65fd771b68e.PNG)
with default settings:

With "use fragments" turned on:
![model_with_fragments](https://user-images.githubusercontent.com/1414366/187755194-f2f3be81-0227-4c6d-8bce-

[2022-09-15 02:49] Fengjing95 opened #124 "How to do additional rendering？"
Can threejs render additional elements on top of an existing IFC model without knowing the xyz coordinates? I can use xyz render it now, but server don't know target element's coordinates.

[2022-09-27 13:08] gyszalai opened #125 "ifcModel.ifcManager.getPropertySets(...) slow"
I have a fairly large model (cca. 15MB), that is loaded in a few seconds, but calling `model.ifcManager.getPropertySets(...)` is very slow (100-150ms) for each IFC element. Other getters, like `getItemProperties` or `getAllItemsOfType` respond in a few milliseconds.

[code]

output:
[code]

Link to the model:
https://drive.google.com/file/d/1eFqOh0TX7FmuYG5Zys1l61VtjAfFW4um/view?usp=sharing

I wou

[2022-09-29 08:40] mysterybear commented on #92
I'm having this problem even with 2 models, using 2 separate IFC loaders. I'll put together a codesandbox with the issue and hopefully could get some advice/resolution!

[2022-09-29 14:25] mysterybear opened #126 "How to reuse IFC models?"
Hi,

Could it be made clear somewhere how to reuse IFC models so that `createSubset` works?

~~Here's my code where I've been trying to get this going https://github.com/mysterybear/reuse-ifc-subsets-issue~~
**Edit: this repo https://github.com/mysterybear/many-ifc-test is the better example now, see below, it's just vanilla Three.js also now, no R3F**

I don't seem to be able to isolate the IFC l

[2022-09-30 12:07] agviegas commented on #92
Hi! Probably this is due to the way you initialize IFC.js inside React. Did you check [this react example](https://github.com/IFCjs/examples/tree/main/react-using-hooks-with-ts)? It doesn't happen there!

[2022-09-30 12:25] mysterybear commented on #92
@agviegas that example uses web-ifc-viewer not web-ifc-three and looks like it's just loading 1 model at a time

Not sure about OP but I'm not having any problem getting the highlighting example working with a React setup with just 1 model, the problem arises when trying to work with multiple models (perhaps especially when trying to create many instances of a single model)

I raised a separate is

[2022-09-30 12:35] agviegas commented on #92
Web-ifc-viewer is just a wrapper around web-ifc-three 🤔 In the example I mentioned I'm able to load multiple IFC files and highlight them all without seeing any error. Maybe you can put together a minimal example I can reproduce?

[2022-09-30 12:53] mysterybear commented on #92
Ah, you're right, you can load multiple IFC's in that example. I assumed it was just replacing the IFC every time you select a new one. Okay cool it seems to work, I'll check it out and try to adapt my code this way, cheers!

[2022-09-30 14:59] TristanLecallier opened #127 "Error loading some IFCs"
I have an error with two IFC files only :
![image](https://user-images.githubusercontent.com/46968115/193297493-6315ddd7-ab5d-40c0-81b0-96e03a08ca32.png)

I'm using WIT 0.0.121 (a,d web-ifc 0.0.36). IFC 2X3 is used for those IFCs.
I can't share the file publicly so I will send to you @agviegas

Thanks !

[2022-10-03 13:58] mysterybear commented on #126
This was the same as #83 which is closed but I don't know if it should be... I've made the fix in my code [here](https://github.com/mysterybear/reuse-ifc-subsets-issue/blob/fixed/src/IfcThing.tsx#L49-L50) but it seems like a hacky workaround that shouldn't be necessary?

[2022-10-03 14:13] mysterybear commented on #92
I've been able to work around the issues I was having as suggested in #83 (see also #126)

[2022-10-05 14:05] TristanLecallier commented on #127
Solved. Error in my code.

[2022-10-05 14:05] #127 closed

[2022-10-10 14:30] #92 closed

[2022-10-11 15:01] mysterybear commented on #126
@agviegas here's a minimal example (picking up from #92) of trying to add the same IFC twice:

https://github.com/mysterybear/many-ifc-test/blob/f4573928792c675390f6c969646f9d4a25b10409/src/App.tsx#L27-L75

this won't work, the IFC will only be part of the group it was most recently added to

the obvious solution here is to `.clone()` it which works and actually gives the cloned model a new model

[2022-10-11 15:06] mysterybear commented on #126
Also if I log out the model ID's original loaded model, the cloned model and then `ifcLoader.ifcManager.state.models`, there appear to be 3 different model ID's in play which is very confusing and not obvious how to work with subsets with these model ID's :(

[2022-10-12 09:16] mysterybear commented on #126
@agviegas we get this error when creating a subset with the model ID's as they are:

[code]

This can be fixed like:

[code]

as here https://github.com/mysterybear/many-ifc-test/blob/79e669ac4ded668c84bed0926b4968f29ab59bb9/src/App.tsx#L121-L123

is this a bug or is this how users are intended to use the library?

[2022-10-12 13:10] lewibs opened #128 "[documentation] codebase conflict in api hint"
ifc.getSpatialStructure(modelId, includeProperties)
model.getSpatialStructure(modelId)

when getSpatialStructure is called through the model it fails to maintain the 2nd parameter.
Upon reading the source code it is stated that use of this is depreciated so the bug is a non-issue. However, much of the documentation states that using the model directly is an option.

as stated in https://ifcjs.gith

[2022-10-14 15:26] horfee opened #130 "unable to invoke CreateIfcGuidToExpressIdMapping when using WebWorker"
Hi,

As IfcGuid are unique id to interact between systems, having a mapping between expressID and ifcGuid is essential.
Could you help me getting it available ?

[2022-10-15 12:25] brutestack opened #131 "Missing geometry in IFC 4 model after web-ifc-three update from 0.0.119 to 0.0.121"
I have updated web-ifc-three from 0.0.119 to 0.0.121.
IFC 4 model from ifcwiki examples stopped loading correctly after this update.
![ifc-bug](https://user-images.githubusercontent.com/2864137/195986131-fc9e1aca-6ea4-4a73-bcda-c11b981d24c3.png)
I have used [this](http://www.ifcwiki.org/images/e/e3/AC20-FZK-Haus.ifc) model from [KIT IFC Examples](https://www.ifcwiki.org/index.php?title=KIT_IFC_Exa

[2022-10-17 10:00] agviegas commented on #126
Hey, sorry, but I don't quite get what you mean by "reuse IFC models". Also, did you check out our React examples? For instance, [this one](https://github.com/IFCjs/examples/tree/main/react-using-hooks-with-ts) works well.

[2022-10-17 10:42] mysterybear commented on #126
from discord convo with @agviegas

suggested some examples would be useful, hadn't thought of using subsets this way but tried a lot with loading the model, cloning etc and don't seem to be able to target model ID's correctly

[2022-10-17 10:56] agviegas commented on #126
If you create a small, reproducible example we'll check it out.

[2022-10-17 11:03] mysterybear commented on #126
@agviegas what's wrong with https://github.com/mysterybear/many-ifc-test/blob/main/src/App.tsx ?

It's not even using React really, it just does everything within a `useEffect` hook... highlighting the first model ID works, highlighting the second one does not unless the lines that mutate the internal state are left uncommented here

https://github.com/mysterybear/many-ifc-test/blob/main/src/App.t

[2022-10-17 11:05] agviegas commented on #126
How many times is that useEffect function being called?

[2022-10-17 11:13] mysterybear commented on #126
in dev mode, twice; production once

I've added some logic to stop it running twice in dev mode, the behaviour with the IFC highlighting is unaffected

https://github.com/mysterybear/many-ifc-test/blob/main/src/App.tsx

[2022-10-22 11:59] agviegas commented on #126
I've spotted that you are calling `ifcLoader.load`. You must await the end of the loading of a model before loading a new one. For that, you can use `loader.loadAsync`.

[2022-10-24 13:59] mysterybear commented on #126
@agviegas doesn't seem to make much difference

tried this: https://github.com/mysterybear/many-ifc-test/blob/18d596a29e178c56012f45980b5445f392a45726/src/App.tsx#L63-L86 which still clones so you get two models still, but highlighting only works on the one

and this: https://github.com/mysterybear/many-ifc-test/blob/6bcf9424145b761a7c7f5ec859b0b898c7653ec5/src/App.tsx#L63-L86 which seems like a s

[2022-10-24 15:05] agviegas commented on #126
My bad, I thought you were trying to load two models. Just to be clear: you are trying to make a copy of a model you already loaded, right? If that's the case, you only have two options: load the model twice calling `loadAsync` twice, or create a subset of the whole model. You can't clone the three.js mesh and try to make subsets work with the copy.

[2022-10-24 15:13] mysterybear commented on #126
Yes :)

Right, so that's like in this commit https://github.com/mysterybear/many-ifc-test/blob/6bcf9424145b761a7c7f5ec859b0b898c7653ec5/src/App.tsx#L63-L86 the behaviour I get is that it seems to only render 1 model under the latest place (scene or group) that it's been added

Haven't actually tried this and recall you saying this is likely to perform better also. Will try to carve out some time w

[2022-10-24 15:14] mysterybear commented on #126
oh crap there's a bug in there, I'm adding the first model twice, let me fix that

[2022-10-24 20:15] mysterybear commented on #126
Yeah you're right so this works now https://github.com/mysterybear/many-ifc-test/blob/b2bc56f0a6e0c7707357b5e790e616b3e9996065/src/App.tsx#L63-L86

Thanks

Haven't tried the subsets approach to this problem yet either, so that gives me some stuff to run with for now so will close for now, thanks :)

[2022-10-24 20:15] #126 closed

[2022-11-02 16:47] elias2089 opened #133 "Separate the floors"
Hello, I would like to know if in web-ifc-three, there is some way to separate the IFCBUILDINGSTOREY, at a configurable distance, something like this:
![split](https://user-images.githubusercontent.com/81208914/199550712-9a7913de-680d-45dc-8546-c6d5a4ba06c2.png)

[2022-11-10 11:15] stijn-de-witte commented on #47
Hey,

Do you have an update on the timing of this feature?
It would be a great feature.

Thanks

[2022-11-11 18:11] jespa007 opened #135 "Implement UMD support"
Hi,

I have my javascript develop environment compatibles only with scripttag or Universal Module Definition (UMD) and, as far as I have tested, web-ifc-three.js generates library output for .js ES2015 Module.

I didn't saw any example how to build web-ifc-three library output for other types, so I supose the feature to generate web-ifc-three for UMD is not implemented yet.

Following this article

[2022-11-15 14:55] abaldacci commented on #125
Hi,

same problem here. any updates on this?

Thanks

[2022-11-16 12:53] Nic-77 commented on #47
Hey,
could someone give me a small example how to export a simple wall (described with length, height and thickness)?
I want to learn how to create or to fill up a simple IFC file.
For the first step i only need a small example or an explanation of the steps i have to do to create a really simple IFC file.
Please!
@agviegas

I would also like to create tutorials for these simple steps for other us

[2022-11-21 22:02] elias2089 opened #136 "I can't load an ifc type json"
Hello, I have a problem, if you can help me. I have a requirement that is to export an ifc to json and then display it, I am using the web-ifc-three load, it works fine for me for .ifc files, but when I convert the ifc to json using the example from **examples/web-ifc/ifc-to-json/node**, and upload the .json file gives me the following error:
 ![Screenshot 2022-11-21 155949](https://user-images.gi

[2022-11-24 11:22] aka-blackboots commented on #59
::take

[2022-11-24 11:25] aka-blackboots commented on #59
::take

[2022-11-27 17:08] agviegas commented on #59
::take

[2022-11-27 17:26] agviegas commented on #59
::take

[2022-11-27 17:33] agviegas commented on #59
### 🟢🟢🟢

Hi, @agviegas! Thanks for taking this bounty! The due date is December 18, 2022 UTC.

If you need to submit some pull requests (PR) to complete the tasks, make sure that the last and only the last PR has a title that either starts with the bounty ID or is exactly the same as the bounty name. After the PR is merged, this bounty’s status will automatically changed to done.

If you do not ne

[2022-11-27 17:33] agviegas commented on #59
::take

[2022-11-27 17:34] agviegas commented on #59
::drop

[2022-11-27 17:34] agviegas commented on #59
### 🟢🟢🟢

Hi, @agviegas! Thanks for giving it a try! It’s now once again available for anyone to take.

[2022-11-28 06:55] aka-blackboots commented on #88
::take

[2022-11-28 06:55] agviegas commented on #88
### 🟢🟢🟢

Hi, @aka-blackboots! Thanks for taking this bounty! The due date is December 19, 2022 UTC.

If you need to submit some pull requests (PR) to complete the tasks, make sure that the last and only the last PR has a title that either starts with the bounty ID or is exactly the same as the bounty name. After the PR is merged, this bounty’s status will automatically changed to done.

If you do

[2022-11-28 06:55] aka-blackboots commented on #88
::drop

[2022-11-28 06:55] agviegas commented on #88
### 🟢🟢🟢

Hi, @aka-blackboots! Thanks for giving it a try! It’s now once again available for anyone to take.

[2022-11-28 07:21] aka-blackboots commented on #90
@Feldspatt, any update? Were you able to make use of dispose()?
If you are still experiencing this problem, let us know and we will create a bounty to resolve it!

[2022-11-28 07:51] aka-blackboots commented on #94
::take

[2022-11-28 07:51] agviegas commented on #94
### 🟢🟢🟢

Hi, @aka-blackboots! Thanks for taking this bounty! The due date is December 19, 2022 UTC.

If you need to submit some pull requests (PR) to complete the tasks, make sure that the last and only the last PR has a title that either starts with the bounty ID or is exactly the same as the bounty name. After the PR is merged, this bounty’s status will automatically changed to done.

If you do

[2022-11-28 07:51] aka-blackboots commented on #94
::take

[2022-11-28 07:52] aka-blackboots commented on #94
::drop

[2022-11-28 07:52] agviegas commented on #94
### 🟢🟢🟢

Hi, @aka-blackboots! Thanks for giving it a try! It’s now once again available for anyone to take.

[2022-11-28 07:52] agviegas commented on #94
### 🟢🟢🟢

Hi, @aka-blackboots! Thanks for taking this bounty! The due date is December 19, 2022 UTC.

If you need to submit some pull requests (PR) to complete the tasks, make sure that the last and only the last PR has a title that either starts with the bounty ID or is exactly the same as the bounty name. After the PR is merged, this bounty’s status will automatically changed to done.

If you do

[2022-11-28 10:09] aka-blackboots commented on #94
::drop

[2022-11-28 10:17] aka-blackboots commented on #103
::take

[2022-11-28 10:17] agviegas commented on #103
### 🟢🟢🟢

Hi, @aka-blackboots! Thanks for taking this bounty! The due date is December 19, 2022 UTC.

If you need to submit some pull requests (PR) to complete the tasks, make sure that the last and only the last PR has a title that either starts with the bounty ID or is exactly the same as the bounty name. After the PR is merged, this bounty’s status will automatically changed to done.

If you do

[2022-11-28 10:17] aka-blackboots commented on #103
::drop

[2022-11-28 11:10] aka-blackboots commented on #115
@brutestack, I hope the fix by @makc worked. Let us know if it still does not work.

[2022-11-28 11:55] aka-blackboots commented on #122
::take

[2022-11-28 11:56] agviegas commented on #122
### 🟢🟢🟢

Hi, @aka-blackboots! Thanks for taking this bounty! The due date is December 19, 2022 UTC.

If you need to submit some pull requests (PR) to complete the tasks, make sure that the last and only the last PR has a title that either starts with the bounty ID or is exactly the same as the bounty name. After the PR is merged, this bounty’s status will automatically changed to done.

If you do

[2022-11-28 11:56] aka-blackboots commented on #122
::drop

[2022-11-28 11:56] agviegas commented on #122
### 🟢🟢🟢

Hi, @aka-blackboots! Thanks for giving it a try! It’s now once again available for anyone to take.

[2022-11-28 12:30] aka-blackboots commented on #124
@Fengjing95, can you elaborate more on your problem?

[2022-11-28 12:32] aka-blackboots commented on #125
::take

[2022-11-28 12:32] agviegas commented on #125
### 🟢🟢🟢

Hi, @aka-blackboots! Thanks for taking this bounty! The due date is December 19, 2022 UTC.

If you need to submit some pull requests (PR) to complete the tasks, make sure that the last and only the last PR has a title that either starts with the bounty ID or is exactly the same as the bounty name. After the PR is merged, this bounty’s status will automatically changed to done.

If you do

[2022-11-28 12:32] aka-blackboots commented on #125
::done

[2022-11-28 12:32] aka-blackboots commented on #125
::drop

[2022-11-28 12:33] agviegas commented on #125
### 🟢🟢🟢

Hi, @aka-blackboots! Thanks for giving it a try! It’s now once again available for anyone to take.

[2022-11-28 13:03] aka-blackboots commented on #131
::take

[2022-11-28 13:03] agviegas commented on #131
### 🟢🟢🟢

Hi, @aka-blackboots! Thanks for taking this bounty! The due date is December 19, 2022 UTC.

If you need to submit some pull requests (PR) to complete the tasks, make sure that the last and only the last PR has a title that either starts with the bounty ID or is exactly the same as the bounty name. After the PR is merged, this bounty’s status will automatically changed to done.

If you do

[2022-11-28 13:04] aka-blackboots commented on #131
::drop

[2022-11-28 13:04] agviegas commented on #131
### 🟢🟢🟢

Hi, @aka-blackboots! Thanks for giving it a try! It’s now once again available for anyone to take.

[2022-11-28 13:11] agviegas commented on #133
### 🟢🟢🟢

Hi, @aka-blackboots! Thanks for taking this bounty! The due date is December 19, 2022 UTC.

If you need to submit some pull requests (PR) to complete the tasks, make sure that the last and only the last PR has a title that either starts with the bounty ID or is exactly the same as the bounty name. After the PR is merged, this bounty’s status will automatically changed to done.

If you do

[2022-11-28 13:13] agviegas commented on #133
### 🟢🟢🟢

Hi, @aka-blackboots! Thanks for giving it a try! It’s now once again available for anyone to take.

[2022-11-28 13:24] aka-blackboots commented on #136
::take

[2022-11-28 13:24] agviegas commented on #136
### 🟢🟢🟢

Hi, @aka-blackboots! Thanks for taking this bounty! The due date is December 19, 2022 UTC.

If you need to submit some pull requests (PR) to complete the tasks, make sure that the last and only the last PR has a title that either starts with the bounty ID or is exactly the same as the bounty name. After the PR is merged, this bounty’s status will automatically changed to done.

If you do

[2022-11-28 13:25] aka-blackboots commented on #136
::drop

[2022-11-28 13:25] agviegas commented on #136
### 🟢🟢🟢

Hi, @aka-blackboots! Thanks for giving it a try! It’s now once again available for anyone to take.